---
http_interactions:
- request:
    method: post
    uri: http://www.transifex.com/api/2/project/ruby-client/resources
    body:
      encoding: UTF-8
      string: '{"slug":"file_resource","name":"with file","i18n_type":"YML","content":"eo:\n  test_string:
        \"test string\"\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 27 Apr 2017 16:47:40 GMT
    body:
      encoding: UTF-8
      string: "[\n    1, \n    0, \n    0\n]"
  recorded_at: Thu, 27 Apr 2017 16:47:40 GMT
recorded_with: VCR 3.0.3
