---
http_interactions:
- request:
    method: post
    uri: http://www.transifex.com/api/2/project/ruby-client/resources
    body:
      encoding: UTF-8
      string: '{"slug":"string_resource","name":"without file","i18n_type":"TXT","content":"test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 27 Apr 2017 16:42:02 GMT
    body:
      encoding: UTF-8
      string: "[\n    1, \n    0, \n    0\n]"
  recorded_at: Thu, 27 Apr 2017 16:42:02 GMT
recorded_with: VCR 3.0.3
