---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resources
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 27 Apr 2017 16:15:33 GMT
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"source_language_code\": \"eo\", \n        \"name\":
        \"JSON file example\", \n        \"i18n_type\": \"KEYVALUEJSON\", \n        \"priority\":
        \"0\", \n        \"slug\": \"json\", \n        \"categories\": null\n    },
        \n    {\n        \"source_language_code\": \"eo\", \n        \"name\": \"test\",
        \n        \"i18n_type\": \"YML\", \n        \"priority\": \"0\", \n        \"slug\":
        \"test\", \n        \"categories\": null\n    }\n]"
  recorded_at: Thu, 27 Apr 2017 16:15:33 GMT
recorded_with: VCR 3.0.3
