---
http_interactions:
- request:
    method: post
    uri: http://www.transifex.com/api/2/project/ruby-client/resources
    body:
      encoding: UTF-8
      string: '{"slug":"resource_to_be_deleted","name":"Resource to be deleted","i18n_type":"TXT","content":"nothing
        to see here"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Fri, 28 Apr 2017 10:01:08 GMT
    body:
      encoding: UTF-8
      string: "[\n    1, \n    0, \n    0\n]"
  recorded_at: Fri, 28 Apr 2017 10:01:08 GMT
- request:
    method: delete
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/resource_to_be_deleted
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
      Last-Modified:
      - Fri, 28 Apr 2017 10:01:08 GMT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 28 Apr 2017 10:01:08 GMT
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/resource_to_be_deleted
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
      Last-Modified:
      - Fri, 28 Apr 2017 10:01:08 GMT
    body:
      encoding: ASCII-8BIT
      string: Not Found
  recorded_at: Fri, 28 Apr 2017 10:01:08 GMT
recorded_with: VCR 3.0.3
