---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test/stats
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 04 May 2017 07:34:48 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"eo\": {\n        \"reviewed_percentage\": \"0%\", \n        \"completed\":
        \"100%\", \n        \"untranslated_words\": 0, \n        \"last_commiter\":
        \"nirnaeth\", \n        \"reviewed\": 0, \n        \"translated_entities\":
        1, \n        \"translated_words\": 2, \n        \"last_update\": \"2017-04-27
        14:08:57\", \n        \"untranslated_entities\": 0\n    }, \n    \"en\": {\n
        \       \"reviewed_percentage\": \"0%\", \n        \"completed\": \"0%\",
        \n        \"untranslated_words\": 2, \n        \"last_commiter\": \"nirnaeth\",
        \n        \"reviewed\": 0, \n        \"translated_entities\": 0, \n        \"translated_words\":
        0, \n        \"last_update\": \"2017-04-27 14:08:57\", \n        \"untranslated_entities\":
        1\n    }\n}"
  recorded_at: Thu, 04 May 2017 07:34:48 GMT
recorded_with: VCR 3.0.3
