---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/json?details=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Fri, 28 Apr 2017 09:23:39 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"source_language_code\": \"eo\", \n    \"name\": \"JSON file
        example\", \n    \"created\": \"2017-04-27T13:36:43.747\", \n    \"wordcount\":
        2, \n    \"i18n_type\": \"KEYVALUEJSON\", \n    \"project_slug\": \"ruby-client\",
        \n    \"accept_translations\": true, \n    \"last_update\": \"2017-04-27T13:43:29.019\",
        \n    \"priority\": \"0\", \n    \"available_languages\": [\n        {\n            \"code_aliases\":
        \" \", \n            \"code\": \"en\", \n            \"name\": \"English\"\n
        \       }, \n        {\n            \"code_aliases\": \" \", \n            \"code\":
        \"eo\", \n            \"name\": \"Esperanto\"\n        }\n    ], \n    \"total_entities\":
        1, \n    \"slug\": \"json\", \n    \"categories\": null\n}"
  recorded_at: Fri, 28 Apr 2017 09:23:39 GMT
recorded_with: VCR 3.0.3
