---
http_interactions:
- request:
    method: put
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test/translation/en
    body:
      encoding: UTF-8
      string: '{"i18n_type":"YAML","content":"en:  \n  routes:\n    mercury_editor:
        mercury_editor\n  date:\n    abbr_day_names:\n    - Sun\n    - Mon\n    -
        Tue\n    - Wed\n    - Thu\n    - Fri\n    - Sat\n    abbr_month_names:\n    -\n    -
        Jan\n    - Feb\n    - Mar\n    - Apr\n    - May\n    - Jun\n    - Jul\n    -
        Aug\n    - Sep\n    - Oct\n    - Nov\n    - Dec"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 04 May 2017 09:59:01 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"strings_added\": 0, \n    \"strings_updated\": 0, \n    \"strings_delete\":
        0, \n    \"redirect\": \"/freego/ruby-client/test/\"\n}"
  recorded_at: Thu, 04 May 2017 09:59:01 GMT
recorded_with: VCR 3.0.3
