---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 27 Apr 2017 14:08:57 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"source_language_code\": \"eo\", \n    \"name\": \"test\",
        \n    \"i18n_type\": \"YML\", \n    \"priority\": \"0\", \n    \"slug\": \"test\",
        \n    \"categories\": null\n}"
  recorded_at: Thu, 27 Apr 2017 14:08:57 GMT
- request:
    method: put
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test/content
    body:
      encoding: UTF-8
      string: '{"i18n_type":"YAML","content":"eo:\n  test_string: \"test string\"\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Thu, 27 Apr 2017 14:08:57 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"strings_added\": 1, \n    \"strings_updated\": 0, \n    \"strings_delete\":
        1, \n    \"redirect\": \"/ruby-client/test/\"\n}"
  recorded_at: Thu, 27 Apr 2017 14:08:58 GMT
recorded_with: VCR 3.0.3
