---
http_interactions:
- request:
    method: put
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test
    body:
      encoding: UTF-8
      string: '{"name":"updated name","categories":["test1","test2"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
      Last-Modified:
      - Fri, 05 May 2017 08:16:44 GMT
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Fri, 05 May 2017 08:16:44 GMT
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Fri, 05 May 2017 08:16:44 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"source_language_code\": \"eo\", \n    \"name\": \"updated
        name\", \n    \"i18n_type\": \"YML\", \n    \"priority\": \"0\", \n    \"slug\":
        \"test\", \n    \"categories\": [\n        \"test1\", \n        \"test2\"\n
        \   ]\n}"
  recorded_at: Fri, 05 May 2017 08:16:44 GMT
recorded_with: VCR 3.0.3
