---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/json
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Fri, 05 May 2017 08:11:20 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"source_language_code\": \"eo\", \n    \"name\": \"JSON file
        example\", \n    \"i18n_type\": \"KEYVALUEJSON\", \n    \"priority\": \"0\",
        \n    \"slug\": \"json\", \n    \"categories\": null\n}"
  recorded_at: Fri, 05 May 2017 08:11:20 GMT
- request:
    method: put
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/json/content
    body:
      encoding: UTF-8
      string: '{"i18n_type":"KEYVALUEJSON","content":"{\"test_string\":\"test string
        as json\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Fri, 05 May 2017 08:11:22 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"strings_added\": 0, \n    \"strings_updated\": 1, \n    \"strings_delete\":
        0, \n    \"redirect\": \"/ruby-client/json/\"\n}"
  recorded_at: Fri, 05 May 2017 08:11:22 GMT
recorded_with: VCR 3.0.3
