---
http_interactions:
- request:
    method: post
    uri: http://www.transifex.com/api/2/projects
    body:
      encoding: UTF-8
      string: '{"slug":"private-ruby-client","name":"Private Ruby Client","description":"Private
        Ruby Client","source_language_code":"eo","private":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
      Last-Modified:
      - Wed, 03 May 2017 15:05:38 GMT
    body:
      encoding: UTF-8
      string: '[u"[(''slug'', [u''Project with this Slug already exists.''])]"]'
  recorded_at: Wed, 03 May 2017 15:05:38 GMT
recorded_with: VCR 3.0.3
