---
http_interactions:
- request:
    method: post
    uri: http://www.transifex.com/api/2/projects
    body:
      encoding: UTF-8
      string: '{"slug":"private-ruby-client","name":"Private Ruby Client","description":"Private
        Ruby Client","source_language_code":"eo","private":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
      Last-Modified:
      - Wed, 03 May 2017 14:46:16 GMT
    body:
      encoding: UTF-8
      string: Created
  recorded_at: Wed, 03 May 2017 14:46:17 GMT
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/private-ruby-client
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Wed, 03 May 2017 14:46:17 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"description\": \"Private Ruby Client\", \n    \"source_language_code\":
        \"eo\", \n    \"slug\": \"private-ruby-client\", \n    \"name\": \"Private
        Ruby Client\"\n}"
  recorded_at: Wed, 03 May 2017 14:46:17 GMT
recorded_with: VCR 3.0.3
