---
http_interactions:
- request:
    method: put
    uri: http://www.transifex.com/api/2/project/private-ruby-client
    body:
      encoding: UTF-8
      string: '{"description":"my new description"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
      Last-Modified:
      - Wed, 03 May 2017 13:56:28 GMT
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Wed, 03 May 2017 13:56:28 GMT
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/private-ruby-client?details=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Wed, 03 May 2017 13:56:28 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"archived\": false, \n    \"last_updated\": null, \n    \"description\":
        \"my new description\", \n    \"tags\": \"\", \n    \"trans_instructions\":
        \"\", \n    \"private\": true, \n    \"slug\": \"private-ruby-client\", \n
        \   \"source_language_code\": \"eo\", \n    \"auto_join\": false, \n    \"maintainers\":
        [\n        {\n            \"username\": \"nirnaeth\"\n        }\n    ], \n
        \   \"fill_up_resources\": false, \n    \"team\": {\n        \"id\": 74153,
        \n        \"name\": \"Ruby Client team\"\n    }, \n    \"organization\": {\n
        \       \"slug\": \"freego\"\n    }, \n    \"teams\": [\n        \"en\", \n
        \       \"de\"\n    ], \n    \"homepage\": \"\", \n    \"long_description\":
        \"\", \n    \"resources\": [], \n    \"name\": \"Private Ruby Client\"\n}"
  recorded_at: Wed, 03 May 2017 13:56:28 GMT
recorded_with: VCR 3.0.3
