---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/language/fr
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Fri, 28 Apr 2017 14:59:03 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"rtl\": false, \n    \"pluralequation\": \"language.pluralequation\",
        \n    \"code\": \"fr\", \n    \"name\": \"French\", \n    \"nplurals\": 2\n}"
  recorded_at: Fri, 28 Apr 2017 14:59:03 GMT
recorded_with: VCR 3.0.3
