---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/languages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"coordinators\": [\n            \"nirnaeth\"\n        ],
        \n        \"language_code\": \"en\", \n        \"translators\": [], \n        \"reviewers\":
        [\n            \"wirido\"\n        ]\n    }\n]"
  recorded_at: Wed, 03 May 2017 12:28:37 GMT
recorded_with: VCR 3.0.3
