---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test/translation/en/strings?details=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"comment\": \"\", \n        \"context\": \"\", \n
        \       \"tags\": null, \n        \"character_limit\": null, \n        \"reviewed\":
        true, \n        \"user\": \"nirnaeth\", \n        \"key\": \"test_string\",
        \n        \"source_string\": \"test string\", \n        \"translation\": \"translated
        test string\", \n        \"last_update\": \"2017-05-04T12:22:46.171\", \n
        \       \"pluralized\": false, \n        \"occurrences\": null\n    }\n]"
  recorded_at: Thu, 04 May 2017 13:32:14 GMT
recorded_with: VCR 3.0.3
