---
http_interactions:
- request:
    method: put
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test/translation/en/string/1dc9aad7928cb3cb1b400d17d39a8523
    body:
      encoding: UTF-8
      string: '{"reviewed":true,"translation":"translated test string"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Thu, 04 May 2017 12:24:04 GMT
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/resource/test/translation/en/string/1dc9aad7928cb3cb1b400d17d39a8523
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"comment\": \"\", \n    \"context\": \"\", \n    \"tags\":
        null, \n    \"character_limit\": null, \n    \"reviewed\": true, \n    \"user\":
        \"nirnaeth\", \n    \"key\": \"test_string\", \n    \"source_string\": \"test
        string\", \n    \"translation\": \"translated test string\", \n    \"last_update\":
        \"2017-05-04T12:22:46.171\", \n    \"pluralized\": false, \n    \"occurrences\":
        null\n}"
  recorded_at: Thu, 04 May 2017 12:24:04 GMT
recorded_with: VCR 3.0.3
