---
http_interactions:
- request:
    method: get
    uri: http://www.transifex.com/api/2/project/ruby-client/language/en?details=true
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bS5naWFtYml0dG9AZnJlZWdvd2ViLml0Om1vbGxpXzAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"coordinators\": [\n        \"wirido\"\n    ], \n    \"reviewers\":
        [], \n    \"total_segments\": 4, \n    \"untranslated_segments\": 4, \n    \"translated_words\":
        0, \n    \"reviewed_segments\": 0, \n    \"translators\": [], \n    \"translated_segments\":
        0\n}"
  recorded_at: Fri, 28 Apr 2017 15:30:51 GMT
recorded_with: VCR 3.0.3
